
*.avi
*.mp4
*.pth
*.pt
*.png

!results/
!results/**/*.png

*.jpg
/CelebrityRecognition/FaceRecognition/data/csvs
/CelebrityRecognition/FaceRecognition/misc

/CelebrityRecognition/FaceDetection/data/data/images
